<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767590465486-1vsmnccm477q9skmiu906qs58i0pvbva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767590465486-1vsmnccm477q9skmiu906qs58i0pvbva</string>
	<key>API_KEY</key>
	<string>AIzaSyCINTJEwT6OmgFPY3EC9oElN13191nZvuU</string>
	<key>GCM_SENDER_ID</key>
	<string>767590465486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plz</string>
	<key>PROJECT_ID</key>
	<string>testflutter-7b2a3</string>
	<key>STORAGE_BUCKET</key>
	<string>testflutter-7b2a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767590465486:ios:ed5cfbcf7dc6ae78e1b59f</string>
</dict>
</plist>